body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Calibri", sans-serif;
  }

  h1,
  h2,
  h3,
  p {
    margin: 10px;
  }

  blockquote {
    border-left: 3px solid white;
    padding-left: 10px;
    border-right: 3px solid white;
    padding-right: 10px;
    margin: 10px;
  }

  footer {
    text-align: center;
  }

  img {
    max-width: 15%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .script-name {
    font-size: 0.6em; 
  }